* {
    font-family: 'Nunito', sans-serif;
}
.form .file-and-send-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f9f9f9;
    border-top: 1px solid #78b8ef;
    padding: 5px 10px;
}

.form .placeholder,
.form .input-message,
.form .input-file,
.form button {
    display: block;
    margin-bottom: 5px;
}

.form .input-message,
.form .input-file {
padding: 7px;
border: 1px solid #ecebeb;
border-radius: 4px;
width: -webkit-fill-available;
background-color: transparent; /* Remove the gray background color */
}


.form button {
    width: 49%;
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
    background-color: #78b8ef;
    border: 1px solid #5a9ed8;
}

.form .btn-picture {
    /* Your button style here */
    width: 4 0%;
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
    background-color: #78b8ef;
    border: 1px solid #5a9ed8;
    /* Additional styles if needed */
}

.container {
    margin-bottom: 200px; /* Adjust the margin to create space between .container and .form */
    /*max-height: calc(100vh - 155px);*/
    max-height: auto;
    /* Adjust the value based on the form height and other spacing */
    overflow-y: visible;
}

.image-size {
    width: 50%;
    height: 50%;
}

.users-online {
    padding: 7px;
    border: 2px solid #5a9ed8;
    border-radius: 4px;
    width: -webkit-fill-available;
    background-color: transparent; 

}

.container p {
    display: block;
}
